//- MERLE
//- SHEY SHEY
mixin social_bar(texto,tema,imagen)
	.barra
		ol.list-inline.list-unstyled
			li
				img(src='assets/image/social_sprite3.png')
			li
				img(src='assets/image/bullet.gif')
			li
				small= texto
			li
				img(src='assets/image/bullet.gif')
			li
				p= tema
			li
				img(src= imagen)
			


//- ROSARIO