// ESTILOS GENERALES
$rojo:#B20000;
$blanco:#fff;
$negro:#000;
$plomo:#F2F2F2;
$azul:#687888;
$facebook: #2A65A1;
$twitter: #60BFDD;
$facebokk: #2A65A1;
$google: #60BFDD;
$msg:#FFBF00;
$w:#FF8000;

// HEADER
.banner{
	background-color: $plomo;
}
// FOOTER
// LATERALES
// HOME
@mixin separadores {
  color:$blanco;
  font-family:'Oswald', sans-serif;
  position: relative;
  top:-20px;
  font-size:28px;
  padding: 10px;
  display: inline-block;
  background-color:$rojo;
  text-align: center;
  margin-bottom: 20px;
  a{
	color:$blanco;
	padding:10px;
  }
}
.columnistas{
	border-top:5px solid $rojo;
}
.columnistas h4.titulo{
@include separadores;
}
.columlist{


}
// CONTACTOS
// COLUMNISTAS
// BLOG
