// ESTILOS GENERALES
$rojo:#B20000;
$blanco:#fff;
$negro:#000;
$plomo:#F2F2F2;
$azul:#687888;
$facebook: #2A65A1;
$twitter: #60BFDD;
$facebokk: #2A65A1;
$google: #60BFDD;
$msg:#FFBF00;
$w:#FF8000;
$letra:gray;

// HEADER
// utilities
.i{padding: 2px 9px; font-size: 18px;}
.facebook{color:#2A65A1;}
.twitter{color:#60BFDD;}
.google{color:#CA4638;}
.msg{color:#FFBF00;}
.w{color:#FF8000;}
*{outline: 1px solid red;}
.header-top{
	background-color: $plomo;
	img{width: 100%;}
	.top{padding-top: 15px; padding-bottom: 15px;}
	.boton{
		background-color:$rojo;
		color: $blanco;
	}
	.buscar{
		background: transparent;
		border: none;
		border-left: 1px solid gray;
		border-right: 1px solid gray;
		i{
			padding: 7px;
		}
	}
	ul{
		a{
			color: $letra;
			text-decoration: none;
		}
	}
}
.header{
	.republica{
		padding: 20px;
		.logo{
			margin-top: 40px;
			img{width: 85%;}
		}
		.titulo{
			p{
				background-color: $rojo;
				color: $blanco;
				width: 100px;
				padding: 5px 15px;
				margin: auto;
				position: relative;
				top: 15px;
			}
		}
		.lider{
			padding: 22px 20px;
			border: 1px solid gray;
			border-bottom: 2px solid $rojo;
			width: 98%;
		}
		.caja-autor{
			border: 1px solid gray;
			margin-top: 30px;
			img{position: relative; top:0px;}
			.autor{
				width: 80%;
				display: inline-block;
				padding-top: 15px;
			}
		}
		.foto{
			position: relative;
			top: -80px;
			float: right;
		}
	}
}
.menu{
	ul{
		background-color: $rojo;
	}
	a{
		color: $blanco;
	}

	.navbar-custom{
		background-color: $rojo;
	}
	i{color: white;}
}
.temas{
	font-size: 16px;
	ul{
		background: $plomo;
		li{padding: 9px;
			a{color: $letra;}}
		}
	}
	.list-temas> :first-child{
		background: $negro;
		a{color:$blanco;}
		
	}
// FOOTER
.footer{
	background-color: $plomo;
	padding: 10px 0;
	.cajita{padding-top:110px 0px; border-right: 2px solid white;}
	img{width:80%;}	
}
.pie-pagina{
	border-top: 2px solid $blanco;
	background-color: $plomo;
	padding: 10px;
		li{border-right: 1px solid gray; font-size: 16px; font-size: 14px;}
	}
// LATERALES
// HOME
// CONTACTOS
// COLUMNISTAS
// BLOG
