html
	head
		include ./ci/links.jade
		include ./ci/mixin.jade
	body
		.container-fluid
			.container
				mixin titulares('Blog', 'LO ULTIMO EN BLOG')
				.row
					mixin allBlogeros
					mixin allBlogeros
					mixin allBlogeros
					mixin allBlogeros
					mixin allBlogeros
					mixin allBlogeros
					mixin allBlogeros